@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=M+PLUS+Code+Latin:wght@400;600&display=swap');

@font-face {
	font-family: 'AntKiller';
	src: url('assets/antkiller-font/Antkiller-9MKj.ttf') format('truetype');
}

@font-face {
	font-family: 'Noise';
	src: url('assets/sd-noise-font/SdnoisedemoRegular-ALKGL.ttf') format('truetype');
}

@font-face {
	font-family: 'Musical';
	src: url('assets/musical-tone-font/MusicalTone-7BJ4A.otf') format('truetype');
}

@font-face {
	font-family: 'SDGlitch';
	src: url('assets/sd-glitch-2-font/SdglitchdemoRegular-YzROj.ttf') format('truetype');
}

body,
html {
	margin: 0;
	padding: 0;

	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

/*p{
	mix-blend-mode: normal;
}
*/
/*DIV 1*/

#toEssay {
	display: none;
	position: fixed;
	bottom: 0;
	left: 1%;
	width: 150px;
	height: 150px;
	z-index: 9999;
	font-family: 'Inter';
	font-size: 10px;
	text-align: center;
	color: white;
	margin: 10px;
}

#toEssay img {
	position: absolute;
	width: 150px;
	margin-top: 20px;
}

#toEssay img:hover {
	filter: invert(1);
	color: black;
}


#curve {
	position: absolute;
	transform: translateX(-13.5%) translateY(-18%);
	fill: transparent;
}

/*MENU*/

a {
	text-decoration: none;
}

.menu {
	position: fixed;
	top: 0;
	left: -400px;
	width: 400px;
	height: 100vh;
	background-image: url('assets/glitch-dark.png');
	box-shadow: 4px 0 8px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: start;
	transition: left 0.5s ease;
	text-decoration: none;
	padding-top: 10px;
	z-index: 99999;
	color: white;
}

.menu.visible {
	left: 0;
}

.menu-categories {
	display: flex;
	align-items: flex-start;
	padding: 10px;
	font-family: 'M PLUS Code Latin';
	font-weight: 900;
	width: 80%;
}

.menu-category {
	font-size: 24px;
	cursor: pointer;
	margin-bottom: 10px;
	margin-right: 20px;
	padding: 10px;
	width: 80%;
}

.menu-items {
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
	width: 80%;
	font-family: 'Inter';
}

.menu-item {
	font-size: 18px;
	cursor: pointer;
	padding: 5px;
	color: white;
	border: 1px solid white;
	width: 100%;
	margin-bottom: 20px;
	text-decoration: none;
}

.menu-item:hover {
	background-color: white;
	width: 100%;
	color: black;
}

.menu-button {
	display: none;
	position: fixed;
	top: 1%;
	left: 1%;
	width: 150px;
	height: 50px;
	z-index: 9999;
	font-family: 'Inter';
	font-size: 18px;
	text-align: center;
	color: black;
	margin: 10px;
	padding-top: 22px;
	cursor: pointer;
	border: 1px solid;
	border-radius: 500px;
	background-color: white;
}

.content-section {
	margin-left: 220px;
	padding: 20px;
}

#webpage {
	height: 40%;
	color: white;
}

#webpage:hover {
	color: black;
	background-color: white;
}

#researchessay {
	height: 60%;
	color: white;
}

#researchessay:hover {
	color: black;
	background-color: white;
}

/*PAGES*/

.full-page {
	position: relative;
	width: 100vw;
	height: 100vh;
	border: 1px solid transparent;
	margin: 0px;
	background-color: white;
}

.noiseoverlay {
	margin: 0;
	position: fixed;
	z-index: 30;
	height: 100vh;
	width: 100vw;
	mix-blend-mode: overlay;
	pointer-events: none;
	z-index: 9999;
}

#intro {
	width: 400px;
	height: 400px;
	margin: auto;
	margin-top: 15vh;
	margin-bottom: 15px;
	background-image: url('assets/intro.png');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

#main-title {
	text-align: center;
	font-family: 'Noise', sans-serif;
	font-size: 130px;
	color: white;
}

#cacaphony {
	display: inline-block;
	background: linear-gradient(to right, black 37%, white 30%, white 70%, white 70%);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-family: 'Noise', sans-serif;
	transform: translateX(-150px);
}

#symphony {
	display: inline-block;
	background: linear-gradient(to right, white 61%, black 30%, black 70%, black 70%);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-family: 'Noise', sans-serif;
	transform: translateX(160px);
}

.centered-text {
	width: 480px;
	text-align: center;
	margin: auto;
	font-family: 'Inter', sans-serif;
	font-weight: 200;
	font-size: 15px;
}

#arrow {
	position: absolute;
	width: 40px;
	margin-top: 50px;
	margin-left: 49%;
	z-index: 9999;
}


/*DIV 2*/

#background-stripe {
	position: absolute;
	width: 100vw;
	height: 150px;
	margin-top: 35vh;
	z-index: 1;
}

.sound-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('assets/glitch2.jpeg');
	width: 100vw;
	height: 175px;
	margin-top: 40vh;
	border: 1px solid;
	z-index: 10;
}

.sound-container div {
	width: 175px;
	height: 250px;
	border: 1px solid;
	background-color: white;
	z-index: 10;
	margin-left: 60px;
	margin-right: 60px;
	font-family: 'Inter';
	font-weight: 300;
}

.sound-container div:hover {
	font-weight: 700;
}

#sound1 {
	background-image: url('assets/coffee.png');
	background-size: cover;
}

#sound2 {
	background-image: url('assets/traffic.png');
	background-size: cover;
}

#sound3 {
	background-image: url('assets/construction.png');
	background-size: cover;
}

.audio-icon {
	width: 60px;
	margin: auto;
	margin-top: 30px;
	display: block;
	z-index: 20;
	filter: brightness(100%);
	filter: contrast(100%);
	opacity: 80%;
}

.sound-container p {
	text-align: center;
	margin: 13px;
	margin-top: 50%;
}


/* DIV 3 */

.centered-subtitle {
	font-family: 'M PLUS Code Latin';
	font-size: 60px;
	font-weight: 900;
	text-align: center;
}

.overlapping-container {
	width: 100vw;
}

.overlapping-images {
	display: block;
	width: 500px;
	margin: auto;
	text-align: center;
	position: relative;
}

.overlapping-images img {
	width: 350px;
	height: 210px;
}

.overlapping-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -10%);
	z-index: 1;
}

.overlapping-text p {
	width: 200px;
	background-color: white;
	padding: 30px;
	border: 1px solid;
	font-family: 'Inter';
	font-size: 14px;
}

.left-img {
	transform: translateX(-250px);
}

.right-img {
	transform: translateX(250px);
}

.left-text {
	transform: translateX(-250px);
}

.right-text {
	transform: translateX(250px);
}

.decor1 {
	position: absolute;
	width: 175px;
	bottom: 0px;
}

.decor2 {
	position: absolute;
	width: 295px;
	height: 480px;
	top: 0px;
	right: 0px;
}

.arrow {
	position: absolute;
	width: 100px;
	height: 120px;
	bottom: 30px;
	right: 30px;
	filter: invert(0);
	z-index: 999;
}

.arrow:hover {
	filter: invert(1);
}

/*DIV 4*/

.outer-container {
	width: 800px;
	height: 400px;
	margin: auto;
	margin-top: 10%;
	display: flex;
}

.inner-div {
	flex: 1;
	/*    border: 1px solid #000;*/
	padding: 0px;
}

.outer-container p {
	font-family: 'M PLUS Code Latin';
	font-size: 60px;
	font-weight: 900;
	text-align: center;
}

#casestudy {
	float: right;
	margin-right: 5px;
	margin-bottom: 20px;
}

#nyc-text {
	position: absolute;
	width: 300px;
	float: left;
	margin-left: 5px;
	text-align: left;
	transform: translateY(70px);
	color: white;
	z-index: 30;
}

#decor3 {
	width: 300px;
	z-index: -10;
	float: right;
	margin: 0px;
}

#nyc {
	position: absolute;
	width: 400px;
	height: 500px;
	z-index: -10;
	transform: translateY(-70px);
	z-index: 10;
}

#decor-box1 {
	position: absolute;
	width: 500px;
	height: 400px;
	border: 1px solid;
	top: 20%;
	left: 34%;
	z-index: 20;
}

#decor4 {
	position: absolute;
	width: 200px;
	height: 100px;
	left: 150px;
}

#decor5 {
	position: absolute;
	width: 250px;
	height: 50px;
	bottom: 0px;
}

#decor6 {
	position: absolute;
	width: 400px;
	height: 250px;
	bottom: 0px;
	right: 0px;
	z-index: -10;
}

/* DIV 5 */

.fade-in-text {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.fade-in-text.fade-in {
	opacity: 1;
}

.centered-text2 {
	width: 520px;
	text-align: center;
	margin: auto;
	margin-top: 120px;
	font-family: 'Inter', sans-serif;
	font-weight: 200;
	font-size: 25px;
	transform: translateY(-50px);
}

/* DIV 6  */

#negative-screen {
	position: absolute;
	z-index: 20;
	width: 69.85%;
	height: 60%;
}

#negative-title {
	position: absolute;
	z-index: 30;
	color: white;
	width: 40%;
	margin: 0px;
	height: 70%;
	border: 1px solid black;
	border-bottom: 1px solid white;
	transform: translateX(74%);
	bottom: 0px;
}

.negative-sticky {
	opacity: 0;
	position: fixed;
	height: 100vh;
	width: 10%;
	top: 0%;
	right: 0%;
	z-index: 999;
	pointer-events: none;
	background-color: white;
}

.negative-sticky p {
	transform: rotate(90deg);
	width: 500px;
	margin: 0px;
	text-align: center;
	transform-origin: left bottom;
	/* Adjust the rotation origin */
	white-space: nowrap;
	/* Prevent text from wrapping */
	font-family: "Noise";
	font-size: 150px;
	pointer-events: none;
}

#negative-decor {
	position: absolute;
	width: 200px;
	bottom: 0px;
}

#negative-title p {
	margin: 0px;
	margin-top: 25px;
	margin-right: 5px;
}

#main-negative-title {
	float: right;
	text-align: right;
	font-size: 100px;
	font-family: 'Noise', sans-serif;
}

#main-negative-subtitle {
	float: right;
	font-family: 'Inter', sans-serif;
	color: black;
}

/* DIV 7 */

#negative-subtitle-cont {
	position: absolute;
	z-index: 30;
	color: white;
	width: 40%;
	margin: 0px;
	height: 50%;
	border: 1px solid black;
	border-top: 1px solid white;
	transform: translateX(74%);
	top: 0px;
}

#impact1 {
	position: absolute;
	width: 100%;
	margin: 0px;
	height: 75%;
	border-top: 1px solid black;
	bottom: 0px;
	color: black;
	text-align: center;
	font-family: 'M PLUS Code Latin';
	font-size: 20px;
	background-color: white;
}

#impact1 p {
	margin: 40px;
	font-weight: 400;
}

#impact-info {
	font-family: 'Inter';
	font-size: 16px;
}

#decor7 {
	position: absolute;
	width: 30.2%;
	bottom: 0px;
	right: 0px;
}

#decor8 {
	position: absolute;
	width: 20%;
	top: 0px;
	left: 0px;
}

#decor9 {
	position: absolute;
	width: 69.8%;
	bottom: 0px;
	left: 0px;
}

.two-impacts {
	position: absolute;
	z-index: 30;
	display: flex;
	font-family: 'M PLUS Code Latin';
	bottom: 0px;
	left: 16.7%;
	font-size: 23px;
}

#impact2 {
	background-color: white;
	border: 1px solid;
	width: 300px;
	margin-right: 100px;
	text-align: center;
	padding: 15px;
}

#impact3 {
	background-color: white;
	border: 1px solid;
	width: 300px;
	margin-right: 30px;
	text-align: center;
	padding: 15px;
}

/* DIV 8 */

#decor10 {
	position: absolute;
	width: 69.8%;
	height: 100%;
	z-index: -10;
	rotate: 180deg;
}


#impact4 {
	position: absolute;
	color: black;
	text-align: center;
	font-family: 'M PLUS Code Latin';
	font-size: 23px;
	background-color: white;
	right: 30.2%;
	top: 15%;
	border: 1px solid;
	width: 500px;
	height: 200px;
	text-align: center;
	padding: 30px;
}

#impact5 {
	position: absolute;
	color: black;
	text-align: center;
	font-family: 'M PLUS Code Latin';
	font-size: 23px;
	background-color: white;
	border: 1px solid;
	width: 300px;
	bottom: 0px;
	left: 10%;
	text-align: center;
	padding: 15px;
}

#decor11 {
	position: absolute;
	width: 30%;
	right: 0px;
	top: 50px;
}

/* DIV 9 */

#negative-graph {
	position: absolute;
	width: 40%;
	height: 70%;
	bottom: 10%;
	left: 20%;
	border: 1px solid;
	padding: 50px;
	text-align: center;
}

#decor12 {
	position: absolute;
	width: 300px;
	height: 100px;
	bottom: 0px;
	right: 0px;
}

/* DIV 10 */

.positive-sticky {
	opacity: 0;
	position: fixed;
	height: 90vh;
	width: 10%;
	bottom: 19%;
	left: 12%;
	z-index: 999;
	pointer-events: none;
}

.positive-sticky p {
	transform: rotate(270deg) translateX(-100%);
	width: 500px;
	margin: 0px;
	text-align: center;
	transform-origin: left bottom;
	/* Adjust the rotation origin */
	white-space: nowrap;
	/* Prevent text from wrapping */
	font-family: "Noise";
	font-size: 150px;
	pointer-events: none;
}


#positive-decor {
	position: absolute;
	transform: translateX(-100%);
	width: 200px;
	bottom: 0px;
}

#positive-screen {
	position: absolute;
	z-index: 20;
	width: 70.3%;
	height: 60%;
	right: 0px;
	transform: translateY(-2px);
}

#positive-title {
	position: absolute;
	z-index: 30;
	color: white;
	width: 40%;
	margin: 0px;
	height: 70%;
	border: 1px solid black;
	border-bottom: 1px solid white;
	transform: translateX(74%);
	bottom: 0px;
}

#positive-title p {
	margin: 0px;
	margin-top: 25px;
	margin-right: 5px;
	margin-left: 10px;
}

#main-positive-title {
	float: right;
	text-align: left;
	font-size: 100px;
	font-family: 'Noise', sans-serif;
}

#main-positive-subtitle {
	float: left;
	font-family: 'Inter', sans-serif;
	color: black;
}

#decor13 {
	position: absolute;
	width: 29.7%;
	bottom: 0px;
	left: 0px;
}

/* DIV 11 */

#decor14 {
	position: absolute;
	width: 60%;
	height: 60%;
	right: 0px;
	bottom: 100px;
	z-index: -10;
}

#positive-subtitle-cont {
	position: absolute;
	z-index: -10;
	color: white;
	width: 40%;
	margin: 0px;
	height: 100%;
	border: 1px solid black;
	border-top: 1px solid white;
	transform: translateX(74%);
	top: 0px;
}

#impact6 {
	position: absolute;
	width: 50%;
	margin: 0px;
	height: 250px;
	border: 1px solid black;
	border-left: 1px solid transparent;
	bottom: 45%;
	color: black;
	text-align: center;
	font-family: 'M PLUS Code Latin';
	font-size: 20px;
	background-color: white;
}

#impact6 p {
	margin: 25px;
}

#impact7 {
	position: absolute;
	width: 50%;
	margin: 0px;
	height: 250px;
	border: 1px solid black;
	border-right: 1px solid transparent;
	bottom: 8.5%;
	right: 0px;
	color: black;
	text-align: center;
	font-family: 'M PLUS Code Latin';
	font-size: 19px;
	background-color: white;
}

#impact7 p {
	margin-left: 45px;
	margin-right: 45px;
}

#decor15 {
	position: absolute;
	width: 250px;
	top: 0px;
	right: 20%;
}


#decor16 {
	position: absolute;
	width: 250px;
	bottom: 0px;
	left: 0%;
}

/*DIV 12*/

#positive-graph {
	position: absolute;
	width: 80%;
	height: 20%;
	border: 1px solid;
	z-index: 30;
	top: 25%;
	right: 0px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('assets/footer.png');
	z-index: 0;
}

.p-graph {
	width: 300px;
	height: 300px;
	background-color: white;
	border: 1px solid;
	margin-left: 50px;
}

.p-img {
	position: absolute;
	width: 300px;
	height: 300px;
	z-index: 100;
	opacity: 10%;
}

.p-img:hover {
	opacity: 100%;
}

.small {
	font-weight: 200;
	font-size: 12px;
}

.p-graph-title {
	position: absolute;
	width: 250px;
	font-family: 'M PLUS Code Latin';
	margin: 20px;
	margin-top: 50px;
	text-align: center;
	z-index: 50;
	font-weight: 600;
}

#decor17 {
	position: absolute;
	width: 425px;
	bottom: 0px;
	left: 0px;
}

/* DIV 13 */

.recs-sticky {
	opacity: 0;
	position: fixed;
	height: 100vh;
	width: 10%;
	top: 0%;
	right: 0%;
	z-index: 999;
	pointer-events: none;
	background-color: white;
}

.recs-sticky p {
	transform: rotate(90deg);
	width: 500px;
	margin: 0px;
	margin-top: -20%;
	text-align: center;
	transform-origin: left bottom;
	/* Adjust the rotation origin */
	white-space: nowrap;
	/* Prevent text from wrapping */
	font-family: "Noise";
	font-size: 100px;
	pointer-events: none;
}

#recs-decor {
	position: absolute;
	width: 200px;
	bottom: 0px;
}

#decor18 {
	position: absolute;
	width: 40%;
	height: 100%;
	z-index: -10;
	rotate: 180deg;
}

#rec-title-div {
	width: 60%;
	height: 60%;
	display: flex;
	margin: auto;
	margin-top: 10%;
	justify-content: center;
	align-items: end;
	border: 1px solid;
}

#rec-img {
	position: absolute;
	width: 35%;
	left: 20%;
	transform: translateX(-12%);
}

#rec-title {
	position: absolute;
	top: 18%;
	font-family: 'M PLUS Code Latin';
	font-weight: 600;
	font-size: 70px;
	/*background: linear-gradient(to right, white 61%, black 30%, black 70%, black 70%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;*/
}

#rec-text {
	position: absolute;
	width: 25%;
	transform: translateX(56%);
	bottom: 25%;
	font-family: 'Inter';
	line-height: 20px;
	font-size: 15px;
}


.rec-back-container {
	position: absolute;
	width: 20%;
	height: 400vh;
	border: 1px solid black;
	margin-top: 150px;
	transform: translateX(250%);
}

.recs {
	width: 50%;
	height: 400px;
	border: 1px solid;
	background-color: white;
	z-index: 30;
	margin: 70px;
	margin-left: 10%;
	padding: 25px;
	text-align: right;
	display: flex;
	z-index: 100;
}

.rec-para {
	width: 40%;
	transform: translateX(10%);
	font-family: 'Inter';
}

.rec-subtitle {
	font-family: 'M PLUS Code Latin';
	font-size: 20px;
	text-decoration: underline;
}

.rec-img {
	position: relative;
	transform: translateX(70px);
	width: 50%;
	float: right;
}

/*REC GRAPH*/

#my-svg {
	width: 700px;
	height: 600px;
	cursor: pointer;
}

#rec-graph-title {
	font-family: 'M PLUS Code Latin';
	font-size: 50px;
	font-weight: 900;
	text-align: center;
	margin-top: 25%;
	margin-bottom: 5px;
}

#rec-graph {
	position: absolute;
	transform: translateX(57%);
	margin-top: 3%;
}

#rec-graph-subtitle-main {
	font-family: 'M PLUS Code Latin';
	font-size: 30px;
}

#rec-graph-subtitle {
	position: absolute;
	width: 200px;
	text-align: right;
	left: 12%;
	bottom: 3%;
	font-family: 'Inter';
}

#decor18 {
	position: absolute;
	width: 450px;
	height: 150px;
	top: 0px;
}

#decor19 {
	position: absolute;
	width: 340px;
	height: 150px;
	bottom: -31%;
	right: 0px;
}

#mockup-text {
	position: absolute;
	font-family: 'M PLUS Code Latin';
	font-weight: 900;
	font-size: 50px;
	top: 25%;
	right: 10%;
}

.mockup {
	position: absolute;
	width: 250px;
}

#mp1 {
	top: 7%;
	left: 15%;
}

#mp2 {
	top: 30%;
	right: 45%;
}

#conclusion {
	width: 500px;
	text-align: center;
	margin: auto;
	border: 1px solid;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	margin-top: 10%;
	background-color: white;
}

#conclusion-title {
	font-family: 'M PLUS Code Latin';
	font-weight: 900;
	font-size: 50px;
}


#conclusion-text {
	font-family: 'Inter';
	font-size: 20px;
}

#decor20 {
	position: absolute;
	width: 250px;
	top: 10%;
	right: 25%;
	z-index: -30;
}

#biblo {
	position: absolute;
	width: 50%;
	height: 170vh;
	border: 1px solid;
	padding: 100px;
	right: 15%;
}

#decor22 {
	position: absolute;
	width: 21%;
	top: 30%;
}

#b-title {
	float: right;
	font-family: 'M PLUS Code Latin';
	font-weight: 900;
	font-size: 50px;
}

#b-text {
	float: inline-end;
}

#decor21 {
	position: absolute;
	right: 0px;
	width: 15%;
}

.footer-container {
	background-image: url("assets/footer.png");
	width: 100vw;
	height: 100px;
	z-index: 1;
	text-align: center;
	padding: 10px;
	font-family: 'Inter';
	color: white;
}


.firstlink {
	width: 75px;
	position: absolute;
	left: 47%;
	top: 30%;
	z-index: 100;
}

.firstlink:hover {
	transform: rotate(180deg);
}


.link {
	width: 75px;
	position: absolute;
	z-index: 100;
}

.link:hover {
	transform: rotate(180deg);
}

.link-small {
	width: 15px;
	transform: translateY(3px);
}

.link-small:hover {
	transform: rotate(180deg);
}


#report {
	display: flex;
	align-items: center;
}

#report img {
	width: 70px;
	margin-left: 15px
}

#report div {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 120px;
	height: 100px;
	border: 1px solid black;
	border-right: none;
}

#rtext {
	margin: 14px;
	margin-top: 10%;
	text-align: center;
	color: black;
	font-size: 10px;
	font-family: 'Inter';
}

#report-link {
	position: absolute;
	bottom: 25px;
	left: 30%;
}